<!DOCTYPE html>
<html xml:lang="en" lang="en" dir="ltr">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>NoteTitel Online LaTeX Equation Editor - LaTeX4technics</title>

<base href="/">

<meta name="description" content="Beschreibung" />

<meta name="keywords" content="Keywords">

<meta name="copyright" content="Copyright (C) 2014 LaTeX4technics, Germany.
Written by Marc Schnierle.
This is NOT free software, although it can be used freely.
This program is distributed WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>
{{dockername}}
Hallo

</body>

</html>
